{% extends 'bootstrap/base.html' %}

{% block title %}
  FLASK Project
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/main.css">
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}

{% block navbar %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="main">
          <header>
            <a href="{{ url_for('index') }}"><img src="http://placehold.it/318x76" alt="Placeholder Image"></a>
            <div class="login-container">
              {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile') }}">Profile</a> | <a href="{{ url_for('logout') }}">Log Out</a>
              {% else %}
                <a href="{{ url_for('login') }}">Log In</a> | <a href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </header>
          <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav nav-fill w-100">
                <a class="nav-item nav-link" href="{{ url_for('who') }}">WHO WE ARE</a>
                <a class="nav-item nav-link" href="{{ url_for('what') }}">WHAT WE DO</a>
                <a class="nav-item nav-link" href="{{ url_for('news') }}">NEWS & EVENTS</a>
                <a class="nav-item nav-link" href="{{ url_for('where') }}">WHERE WE WORK</a>
                <a class="nav-item nav-link" href="{{ url_for('contact') }}">CONTACT US</a>
              </div>
            </div> <!-- Ending div for navbar collapse -->
          </nav>
        </div> <!-- Ending div for navbar conainter -->
      </div> <!-- Ending div for column -->
    </div> <!-- Ending div for row -->
  </div> <!-- Ending div for nav container -->
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="main app-container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> <!-- Ending div for flash messages -->
          {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}

        <!-- Starting footer -->
        <hr class="footer-line">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <a class="footer-link black-color" href="{{ url_for('index') }}">HOME</a> &#8213;
            <a class="footer-link black-color" href="{{ url_for('who') }}">WHO WE ARE</a> &#8213;
            <a class="footer-link black-color" href="{{ url_for('what') }}">WHAT WE DO</a> &#8213;
            <a class="footer-link black-color" href="{{ url_for('news') }}">NEWS & EVENTS</a> &#8213;
            <a class="footer-link black-color" href="{{ url_for('where') }}">WHERE WE WORK</a> &#8213;
            <a class="footer-link black-color" href="{{ url_for('contact') }}">CONTACT</a>
            <div class="text-center footer-note">
              <a class="grey-color" href="#">©2018 Company</a>
              <span class="grey-color">//</span>
              <a class="grey-color" href="#">Website Design by</a>
            </div>
          </div> <!-- Ending div for footer column -->
        </div> <!-- Ending div for footer row -->
      </div> <!-- Ending div for main -->
    </div> <!-- Ending div for column -->
  </div> <!-- Ending div for row -->
  <div class="row">
    <footer>
    </footer>
  </div> <!-- Ending div for row -->
</div> <!-- Ending div for container -->
{% endblock %}
