{% extends 'base.html' %}

{% block title %}
  Home - {{ super() }}
{% endblock %}

{% block app_content %}
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="image-container">
        <img src="static/img/clouds-eco-environment-9198.jpg" style="height:360px;" alt="Placeholder Image">
      </div>
    </div> <!-- Ending div for image column -->
    <div class="col-md-4 col-sm-12">
      <aside>
        <div class="news-feed-container" style="height: 360px;">
          <p><strong>NEWS FEED</strong></p>
          <hr>
          <div id="newsCarousel" class="carousel vert slide" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <p style="height:280px;">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div> <!-- Ending div of carousel item -->
              <div class="carousel-item">
                <p style="height:280px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div> <!-- Ending div of carousel item -->
              <div class="carousel-item">
                <p style="height:280px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div> <!-- Ending div of carousel item -->
            </div>
          </div> <!-- Ending div of carousel -->
        </div> <!-- Ending div for news container -->
      </aside>
    </div> <!-- Ending div for aside column -->
  </div> <!-- Ending div for row -->
  <div class="row">
    <div class="col-md-8">
      <div class="home-container">
        <p><strong>Welcome to our website!</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div> <!-- Ending div for welcome column -->
    <div class="col-md-4">
      <div class="home-address-container">
        <p>
          <small>
            <strong>Company name</strong><br>
            123 Street Road, Suite 1200<br>
            City, State 10000<br>
            123-123-1234 phone<br>
            123-123-1234 fax<br>
          <a href="mailto:email@test.com" target="_top">email@test.com</a>
        </small></p>
      </div>
    </div> <!-- Ending div for address column -->
  </div> <!-- Ending div for row -->
{% endblock %}
