{% extends 'base.html' %}

{% block title %}
  What - {{ super() }}
{% endblock %}

{% block app_content %}
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <aside>
        <div class="aside-container">
          <p><strong>WHAT WE DO</strong></p>
          <hr>
          <a class="white-color" href="">Lorem ipsum</a><br>
          <a class="white-color sub-link" href="">Lorem</a><br>
          <a class="white-color sub-link" href="">Lorem ipsum</a><br>
          <a class="white-color" href="">Lorem ipsum</a><br>
          <a class="white-color sub-link" href="">Lorem ipsum</a><br>
          <a class="white-color sub-link" href="">Lorem ipsum amet</a><br>
          <a class="white-color sub-link" href="">Lorem</a><br>
          <a class="white-color sub-link" href="">Lorem ipsum/consectetur</a><br>
          <a class="white-color" href="">Lorem ipsum</a><br>
          <figure>
            <img src="http://placehold.it/156x95" alt="">
            <figcaption><small><strong>Attorneys</strong><br>
              Lorem ipsum dolor sit amet.</small>
            </figcaption>
          </figure>
        </div>
      </aside>
    </div> <!-- Ending div for aside column -->
    <div class="col-md-9 col-sm-12">
      <div class="article-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <div class="small-img-container">
          <img src="http://placehold.it/280x115" alt="Placeholder Image">
        </div>
        <div class="small-img-container">
          <img src="http://placehold.it/280x115" alt="Placeholder Image">
        </div>
        <div class="small-img-container">
          <img src="http://placehold.it/280x115" alt="Placeholder Image">
        </div>
        <div class="small-img-container">
          <img src="http://placehold.it/280x115" alt="Placeholder Image">
        </div>
      </div> <!-- Ending div for article container -->
    </div> <!-- Ending div for aside column -->
  </div> <!-- Ending div for row -->
{% endblock %}
